.navButton {
  all: unset;
  cursor: pointer;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
  position: relative;
}

.wrapper {
  position: relative;
  height: 100%;
}

.example {
  display: none;
  position: absolute;
  flex-direction: column;
  transform: translateY(100%);
  bottom: -1px;
  left: -1px;
  width: calc(100% + 1px);
  z-index: 10;
}

.example.active  {
  display: flex;
}

.example a {
  all: unset;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 12px;
  justify-content: flex-start;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-top: unset;
  height: 30px;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.example a:hover {
  background-color: var(--color-background-hover);
}

.popoutContainer {
  display: none;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  padding: 12px;
  position: absolute;
  flex-direction: column;
  transform: translateY(100%);
  bottom: 0px;
  left: -1px;
  z-index: 10;
  width: 300px;
}

.popoutContainer.active {
  display: block;
}

.formInput {
  font-family: monospace;
  background-color: var(--color-background-alt);
  border: 1px solid var(--color-border);
  color: white;
  border-radius: 0;
  outline: 0;
  padding: 5px 12px;
  margin: 0px 12px;
  width: 125px;
  height: 33px;
}

.formLabel {
  display: inline-block;
  width: 70px;
}

.uploadInput {
  margin-top: 10px;
  margin-left: 13px;
  width: 180px;
}

.formButton {
  background-color: var(--color-background-alt);
  border: 1px solid var(--color-border);
  color: white;
  padding: 5px 12px;
  margin: 12px 0px;
  cursor: pointer;
}

.navButton:hover {
  background-color: var(--color-background-hover);
}

.navButton.right {
  border-right: unset;
  border-left: 1px solid var(--color-border);
}

.splitter {
  flex: 1;
}
