.main {
  display: grid;
  grid-template:
    "nav nav nav" 30px
    "vga vga uart" auto
    "footer footer footer" 150px / 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.nav {
  grid-area: nav;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-border);
}

.nav.safari {
  border-top: solid 1px var(--color-border);
}

.vga {
  grid-area: vga;
  background-color: var(--color-background);
}

.uart {
  grid-area: uart;
  border-left: solid 1px var(--color-border);
  background-color: var(--color-background);
}

.footer {
  grid-area: footer;
  border-top: solid 1px var(--color-border);
  background-color: var(--color-background);
  gap: 16px;
  display: flex;
  align-items: center;
  padding-right: 32px;
}

.splitter {
  flex: 1;
}

.switchLedBox {
  position: relative;
}

.led {
  position: absolute;
  top: 0px;
  transform: translateY(calc(-100% - 4px));
}
