.switches {
  display: flex;
  gap: 4px;
  position: relative;
}

.switches p {
  color: var(--color-text);
  position: absolute;
  bottom: calc(-20px);
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  white-space: pre;
  margin: 0px;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

