* {
  box-sizing: border-box;
}

:root {
  --color-hex-display-on: #f00;
  --color-hex-display-off: #522;
  --color-hex-display-background: #333;
  --color-hex-display-gap-background: #444;

  --color-error-background: #a40;
  --color-error-border: #a00;

  --color-io-switch-background: #777;
  --color-io-switch-inner-background: #555;
  --color-io-switch-knob: #333;

  --color-io-leds-background: #777;
  --color-io-leds-on: #f00;
  --color-io-leds-off: #522;

  --color-io-button-background: #777;
  --color-io-button-clickable-area-background: #333;
  --color-io-button-clickable-area-pressed: #555;
  --color-io-button-clickable-area-hover: #383838;

  --color-button-hover: #777;

  --color-text: #fff;
  --color-text-disabled: #777;
  --color-background: #444;
  --color-background-hover: #555;
  --color-background-alt: #333;
  --color-border: #222;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}
